@import "tailwindcss";
 
@config '../tailwind.config.ts';
 
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
	:root {
		color-scheme: light;
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 221.2 83.2% 53.3%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-family:
			'Geist', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
			'Segoe UI Symbol', 'Noto Color Emoji';
	}
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
